.board-body {
  background-color: rgb(35, 141, 160);

  .log-out {
    color: rgb(35, 141, 160);
    background-color: white;
    border-radius: 2rem;
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70vw;
  height: auto;
  margin: 0px auto;
  margin-top: 5%;
  gap: 3%;

  .board1,
  .board2,
  .board3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .todo-box {
      background-color: rgba(245, 245, 245, 0.562);
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 2rem;
      position: relative;
      font-weight: bold;
      font-size: 21px;
      color: rgba(0, 0, 0, 0.829);
      padding-bottom: 150px;

      h1{
        font-size: 20px;
        padding: 20px 0px;
      }

      .task-box {
        list-style-type: none;
        border-top: 7px solid rgb(42, 129, 145);
        color: black;
        padding-top: 10px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 3px;
        text-align: center;
        font-weight: lighter;
        font-size: 17px;
        cursor: move;

        &:hover{
          background-color: rgba(255, 248, 248, 0.616);
        }

        p{
          padding: 10px 0px;
          font-size: 15px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a:first-of-type:hover {
          color: black;
        }
      }
    }

    .form1,
    .form2,
    .form3 {
      display: flex;
      flex-direction: column;

      input {
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 2rem;
        border: none;
      }

      button {
        padding: 10px;
        border-radius: 2rem;
        border: none;
      }

      button:hover {
        background-color: rgb(145, 206, 145);
      }
    }
  }
}


