.startpage-header {
  background-image: url(../header.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.register-form {
  margin-top: 22%;
  margin-left: 22%;

  .error-msg {
    font-size: 16px;
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
  }

  .successful-msg {
    font-size: 16px;
    color: rgb(111, 207, 135);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
  }

  .log-in-link{
    padding: 0px;
    margin-left: 5px;
    font-size: 16px;

    &:hover {
      color: gray;
    }
  }
  
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
}

.register-input {
  height: 7vh;
  padding: 10px 12px;
  border: none;
  border-bottom: 1px solid rgb(173, 169, 169);
  font-size: 18px;
}

.submit {
  height: 7vh;
  margin: 30px 0px;
  border: 1px solid rgb(35, 145, 160);
  border-radius: 2rem;
  color: rgb(35, 145, 160);
  font-size: 18px;

  &:hover {
    background-color: rgb(35, 145, 160);
    color: white;
  }
}

