
.open-button {
  background-color: transparent;
  color: rgb(35, 145, 160);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;

&:hover{
  color:black;
}
 }

.form-popup {
    display: none;

  }

.form-container {
  background-color: transparent;
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  z-index: 99;

  .fieldAndBtns{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  h1{
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
}

.form-container input[type=text], .form-container input[type=password] {
  width: 80%;
  padding: 15px 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 14px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn{
  background-color: rgba(76, 175, 79, 0.726);
  color: white;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom:10px;
  opacity: 0.8;
  text-align: center;
  font-size: 16px;
}


.form-container .cancel {
  background-color: rgba(214, 97, 97, 0.815);
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}