@import "_nav.scss";
@import "_header.scss";
@import "_board.scss";
@import "_login.scss";
@import "_popupUpdate.scss";

* {
  padding: 0px;
  margin: 0px;

  &:focus {
    outline: none;
  }

//   body{
// margin: 0px auto;
//   }
}
